@import 'fonts.scss';

$normal-blue-color: #0757A8;
$hover-blue-color: #2077D0; // Для кнопки. Остальные проверить
$click-button-color: #013D78; //  Для кнопки. проверить

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

h2.center-title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}

.wrapper {
  max-width: 1024px;
  padding: 0 20px;
  margin: 0 auto;
}

.look-button {
  display: block;
  position: relative;
  background: $normal-blue-color;
  height: 30px;
  width: 144px;
  padding: 8px 10px 8px 22px;
  border-radius: 44px;

  font-style: normal;
  font-weight: 500;
  color: #fff;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;

  &::before {
    display: block;
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: url('../img/play-icon.svg') no-repeat;
  }

  &:hover {
    background-color: $hover-blue-color;
  }

  &:active {
    background-color: $click-button-color;
  }

}

.sub-menu-arrow {
  position: relative;

  &::after {
    display: block;
    content: '';
    width: 6px;
    height: 4px;
    position: absolute;
    background: url(../img/arrow.svg) no-repeat;
    right: 8px;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.header {

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }

  &__left-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 17px;
  }

  &__logo-img {
    padding: 0 17px;
  }

  &__logo-text {
    font-family: 'Roboto-Condensed';
    font-weight: bold;
    font-size: 22px;    
    letter-spacing: 0.995652px;
    text-transform: uppercase;
    color: #0757A8;
  }

  &__info-container {
    display: flex;
    margin-top: 8px;
  }

  &__date {
    font-size: 12px;
    font-weight: 300;
    color: #55697E;
    margin-right: 56px;
  }

  &__region {
    color: #0757A8;
    font-size: 12px;
    position: relative;
    margin-left: 12px;

    &::before {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: url(../img/marker.svg) no-repeat;
      left: -12px;
    }

    &::after {
      display: block;
      content: '';
      width: 6px;
      height: 4px;
      position: absolute;
      background: url(../img/arrow.svg) no-repeat;
      right: -7px;
      top: 6px;
    }
  }
  
  &__social {
    margin-top: 8px;

    img:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__menu-container {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__menu {
    font-family: 'Roboto-Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
  }

  &__menu-items {
    list-style-type: none;
    display: flex;
    margin-left: 56px;
  }

  &__menu-item {
    &:hover {
      .header__sub-menu-container {
        opacity: 1;
        visibility: visible;
      }
      
    }
  }

  &__menu-link {
    color: #1B354A;
    text-decoration: none;
    padding: 6px 6px;
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: none;
    
    &:hover {
      border: 2px solid #0757A8;
      border-radius: 2px;
      transition: border 0.5s;  
    }

    &.sub-menu-arrow {
      padding-right: 16px;
    }
  }

  &__sub-menu-container {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin-top: 14px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #EDF1F6;
    transition: all 0.5s;
  }

  &__sub-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    list-style-type: none;
  }

  &__sub-menu-item {

    &:first-child {
      margin-left: 64px;
    }

    &:last-child {
      margin-right: 64px;
    }
  }

  &__sub-menu-link {
    display: flex;
    position: relative;
    text-decoration: none;
    color: #0C0D20;
    padding-left: 20px;
  }

  &__sub-menu-icon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
  }
  &__search-container {
    display: flex;
    align-items: center;
  }

  &__search-item {
    margin-left: 34px;
  }
}

.live-tv {
  display: flex;
  margin-top: 40px;

  &__widget-container {
    width: calc(100% - 312px);
    padding-right: 20px;
  }
  
  &__right-adv {
    margin-top: 67px;
    width: 312px;
  }
}

.tv-widget {
  &__title {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__sub-title {
    font-weight: normal;
    font-size: 16px;
    color: #0757A8;
    margin-bottom: 15px;
  }

  &__player {
    width: 100%;
    height: 398px;
    background: lightgrey;
  }

  &__schedule {
    margin-top: 40px;
  }

  &__schedule-title {
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
  }

  &__schedule-corousel {
    display: flex;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    height: 76px;
  }

  &__left-arrow-container {
    width: 80px;
    height: 70px;
    background: #fff;
    position: absolute;
    background: linear-gradient(90deg, #fff, #fff, #ffffff00);
    top: 0;
    left: 0;
  }

  &__right-arrow-container {
    width: 80px;
    height: 70px;
    background: #fff;
    position: absolute;
    background: linear-gradient(90deg,#ffffff00, #fff, #fff);
    right: 0;
    top: 0;
  }

  &__arrow-circle {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    &_right {
      right: 0;
    }

    &_left {
      left: 0;
    }

    img {
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: none;

      &:hover {
        width: 44px;
        height: 44px;
        transition: all 0.2s;
      }
    }
  }

  &__today-title {
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__program-cards {
    margin-top: 38px;
  }

  &__program-card {

    &:not(:first-child) {
    margin-top: 60px;
    }

  }

  &__program-title-block {
    display: flex;
  }

  &__program-time {
    font-weight: bold;
    font-size: 15px;
    position: relative;
    margin-left: 28px;
    margin-right: 20px;

    &::before {
      display: block;
      content: '';
      position: absolute;
      background: url('../img/tv-icon.svg');
      width: 22px;
      height: 22px;
      left: -28px;
      top: -5px;
    }
  }

  &__program-title {
    font-weight: bold;
    font-size: 16px;
    color: $normal-blue-color;
    margin-right: 20px;
  }

  &__program-awards {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
  }

  &__program-award {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;

    &_gold {
      background-color: #FFCA0D;
    }

    &_silver {
      margin-left: -10px;
      background-color: #C5E4E5;
    }

    &_bronze {
      margin-left: -10px;
      background-color: #E9B756;
    }
  }

  &__program-country {
    margin-top: 2px;
    margin-right: 20px;
  }

  &__program-channel {
    margin-top: -2px;
  }
  
  &__program-description {
    margin-top: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
  }

  &__program-artists {
    position: relative;
    margin-left: 28px;
    margin-top: 13px;
    
    &::before {
      display: block;
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      background: url('../img/microphone-icon.svg') no-repeat;
      left: -28px;
      top: -2px;
    }
  }

  &__program-artist {
    color: $normal-blue-color;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    border-bottom: 1px solid $normal-blue-color;
  }

  &__button-block {
    display: flex;
    margin-top: 20px;
  }

  &__life-now {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-left: 42px;
    margin-top: 8px;
    color: #EE1919; 
    position: relative;

    &:before {
      display: block;
      content: '●';
      position: absolute;
      left: -16px;
      top: -7px;
      font-size: 24px;
    }
  }




















  &__schedule-items {
    display: flex;
    position: absolute;
    z-index: -100;
  }
  
  &__schedule-item {
    min-width: 60px;
    width: 60px;
    margin-right: 26px;
    padding: 4px;
    height: 70px;
    background: $normal-blue-color;
    text-align: center;
    color: #fff;
  }

  &__day {
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
  }

  &__mounth {
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
  }
  
  &__line {
    width: 100%;
    height: 1px;
    background: #fff;
  }

  &__weekday {
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
  }
}


.live-tv__banner {
  position: sticky;
  top: 20px;
  width: 100%;
  height: 600px;
  background: url('../img/right-banner.jpg') no-repeat;
}

//////////////////////////////////
main {
  height: 300vh;
}

.full-broadcast {
  margin-top: 60px;
  background: #EDF1F6;

  &__title {
    padding: 20px 0;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
  }


  &__card {
    position: relative;
    border-radius: 4px;
    margin-bottom: 20px;


    &__card-img {
      display: flex;
    }

    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }

    &::before {
      display: block;
      position: absolute;
      content: '';
      right: 10px;
      top: 10px;
      width: 16px;
      height: 16px;
      background: url('../img/play-icon.svg') no-repeat;
    }

    &:nth-child(odd) {
      margin-right: 20px;
    }
    
    &:nth-child(1), &:nth-child(2) {
      width: calc(50% - 10px);
    }

    &:nth-child(3) {
      width: calc(33.3333% - 10px);

      .full-broadcast__card-title {
        background-color: #0D1F32;
        height: 50%;
        padding-top: 15px;        
      }
    }

    &:nth-child(4) {
      width: calc(66.666666% - 10px);
    }

    &:nth-child(5), &:nth-child(6) {
      width: calc(33.3333% - 13.5px);
      padding: 10px;
      background-color: #0D1F32;
      height: 270px;
      
      .full-broadcast__card-title {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &:nth-child(6) {
      margin-right: 20px;
    }
  }

  &__card-view {
    position: absolute;
    top: 14px;
    left: 40px;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;

    &::before {
      display: block;
      content: '';
      left: -25px;
      top: 1px;
      position: absolute;
      width: 17px;
      height: 10px;
      background: url('../img/eye.svg') no-repeat;
    }
  }

  &__card-title {
    position: absolute;
    bottom: 0;
    padding: 40px 15px 15px 15px;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #fff;

    background: linear-gradient(180deg,#ffffff00, #0D1F32);

  }

  &__adv-block {
    width: calc(33.33333% - 13.5px);
    height: 270px;
    background-color: lightgrey;
    margin-right: 0 !important;
  }


  &__more-button {
    display: block;
    border: 2px solid $normal-blue-color;
    text-align: center;
    padding: 10px;
    color: $normal-blue-color;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    &:hover {
      background-color: $normal-blue-color;
      color: #EDF1F6;
    }
  }

  &__horisont-banner {
    text-align: center;
    margin: 40px 0;
  }

  &__last-adv-container {
    display: flex;
  }

  &__last-adv-container-item {
    width: 33.3333%;
    height: 279px;
    background: lightgrey;
    margin-bottom: 40px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}