@import 'fonts';
@import 'general';

.live-tv {
  display: flex;
  margin-top: 40px;

  &__widget-container {
    // width: 594px;
    width: calc(100% - 312px);
    padding-right: 20px;
  }
  
  &__right-adv {
    margin-top: 68px;
    width: 312px;
    z-index: -1000;
  }
}

.tv-widget {
  &__title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__sub-title {
    font-size: 16px;
    color: $main-blue-color;
    margin-bottom: 15px;
  }

  &__player {
    width: 100%;
    height: 398px;
    background: lightgrey;
  }

  &__schedule {
    margin-top: 40px;
  }

  &__schedule-title {
    font-size: 20px;
  }

  &__schedule-corousel {
    display: flex;
    position: relative;
    overflow: hidden;
    padding-top: 3px;
    margin-top: 30px;
    height: 76px;
  }

  &__left-arrow-container {
    // display: none;
    width: 60px;
    height: 76px;
    background: #fff;
    position: absolute;
    background: linear-gradient(90deg, #fff 70%, #ffffff00);
    top: 0;
    left: 0;
    z-index: 100;
  }

  &__right-arrow-container {
    // display: none;
    width: 60px;
    height: 73px;
    background: #fff;
    position: absolute;
    background: linear-gradient(270deg, #fff 70%, #ffffff00);
    right: 0;
    top: 0;
    z-index: 100;
  }

  &__arrow-circle {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    &_right {
      right: 0;
    }

    &_left {
      left: 0;
    }

    img {
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: none;

      &:hover {
        width: 44px;
        height: 44px;
        transition: all 0.2s;
      }
    }
  }

  &__today-title {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__program-cards {
    margin-top: 38px;
  }

  &__program-card {

    &:not(:first-child) {
    margin-top: 60px;
    }

  }

  &__program-title-block {
    display: flex;
  }

  &__program-time {
    font-weight: bold;
    font-size: 15px;
    position: relative;
    margin-left: 28px;
    margin-right: 20px;

    &::before {
      display: block;
      content: '';
      position: absolute;
      background: url('../img/icons/tv-icon.svg');
      width: 22px;
      height: 22px;
      left: -28px;
      top: -5px;
    }
  }

  &__program-title {
    font-weight: bold;
    font-size: 16px;
    color: $main-blue-color;
    margin-right: 20px;
  }

  &__program-awards {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
  }

  &__program-award {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;

    &_gold {
      background-color: #FFCA0D;
    }

    &_silver {
      margin-left: -10px;
      background-color: #C5E4E5;
    }

    &_bronze {
      margin-left: -10px;
      background-color: #E9B756;
    }
  }

  &__program-country {
    margin-top: 2px;
    margin-right: 20px;
  }

  &__program-channel {
    margin-top: -2px;
  }
  
  &__program-description {
    margin-top: 16px;
    font-size: 15px;
    line-height: 20px;
  }

  &__program-artists {
    position: relative;
    margin-left: 28px;
    margin-top: 13px;
    
    &::before {
      display: block;
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      background: url('../img/icons/microphone-icon.svg') no-repeat;
      left: -28px;
      top: -2px;
    }
  }

  &__program-artist {
    color: $main-blue-color;
    font-weight: 500;
    font-size: 15px;
    border-bottom: 1px solid $main-blue-color;
  }

  &__button-block {
    display: flex;
    margin-top: 20px;
  }

  &__life-now {
    font-weight: 500;
    font-size: 14px;
    margin-left: 42px;
    margin-top: 8px;
    color: #EE1919; 
    position: relative;

    &:before {
      display: block;
      content: '●';
      position: absolute;
      left: -16px;
      top: -7px;
      font-size: 24px;
    }
  }

  &__schedule-items {
    display: flex;
    position: absolute;
    z-index: 0;
    left: 0px;
    left: 60px;
    transition: all 0.5s;
  }
  
  &__schedule-item {
    cursor: pointer;
    min-width: 60px;
    width: 60px;
    margin-right: 24px;
    padding: 4px;
    height: 70px;
    // background: $main-blue-color;
    background: url('../img/shedule-blue-back.svg') no-repeat;
    text-align: center;
    color: #fff;

    &:hover {
      width: 66px;
      height: 76px;
      background-size: 66px 76px;
      margin-right: 20px;
      margin-left: -2px;
      margin-top: -3px;
    }

    &_weekend {
      background: url('../img/shedule-red-back.svg') no-repeat;
      
      &:hover {
        color: #EA6159;
        background: url('../img/shedule-white-red-back.svg') no-repeat;
        background-size: 66px 76px;
      }
    }

    &_friday {
      width: 20px;
      background: url('../img/shedule-white-blue-back.svg') no-repeat;
      background-size: 60px 70px;
      color: #0757A8;
    }

  }

  &__day {
    font-size: 30px;
    font-weight: bold;
  }

  &__mounth {
    font-size: 11px;
    font-weight: bold;
  }
  
  &__line {
    width: 100%;
    height: 1px;
    background: #fff;
  }

  &__weekday {
    font-size: 11px;
    font-weight: 500;
  }
}


.live-tv__banner {
  position: sticky;
  top: 20px;
  width: 100%;
  height: 612px;
  background: url('../img/right-banner.jpg') 50% 50% no-repeat;
}

.full-broadcast {
  margin-top: 60px;
  background: #EDF1F6;

  &__title {
    padding: 20px 0;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
  }


  &__card {
    position: relative;
    border-radius: 4px;
    margin-bottom: 20px;
    overflow: hidden;

    &__card-img {
      display: flex;
    }

    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }

    &::before {
      display: block;
      position: absolute;
      content: '';
      right: 10px;
      top: 10px;
      width: 16px;
      height: 16px;
      background: url('../img/icons/play-icon.svg') no-repeat;
    }

    &:nth-child(7n - 6) , &:nth-child(7n - 4), &:nth-child(7n - 2) {
      margin-right: 20px;
    } 
    
    &:nth-child(7n - 6), &:nth-child(7n - 5) {
      width: calc(50% - 10px);
    }

    &:nth-child(7n - 4) {
      width: calc(33.3333% - 10px);

      .full-broadcast__card-title {
        background-color: #0D1F32;
        height: 55%;
        padding-top: 15px;        
      }
    }

    &:nth-child(7n - 3) {
      width: calc(66.666666% - 10px);
    }

    &:nth-child(7n - 2), &:nth-child(7n - 1) {
      width: calc((100% - 314px - 40px) / 2);
      padding: 10px;
      background-color: #0D1F32;
      height: 270px;
      
      .full-broadcast__card-title {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &:nth-child(7n - 1) {
      margin-right: 20px;
    }
  }

  &__card-view {
    position: absolute;
    top: 14px;
    left: 40px;
    color: #fff;
    font-size: 12px;

    &::before {
      display: block;
      content: '';
      left: -25px;
      top: 1px;
      position: absolute;
      width: 17px;
      height: 10px;
      background: url('../img/icons/eye-icon.svg') no-repeat;
    }
  }

  &__card-title {
    position: absolute;
    bottom: 0;
    padding: 40px 15px 15px 15px;

    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #fff;

    background: linear-gradient(180deg,#ffffff00, #0D1F32);

  }

  &__adv-block {
    width: 314px;
    height: 270px;
    background: url('../img/adv-circle.png') 50% 50% no-repeat;
    margin-right: 0 !important;
  }


  &__more-button {
    display: block;
    border: 2px solid $main-blue-color;
    text-align: center;
    padding: 10px;
    color: $main-blue-color;
    font-weight: 500;
    font-size: 16px;
    transition: 0;

    &:hover {
      background-color: $main-blue-color;
      color: #EDF1F6;
      transition: all 0.5s;
    }
  }

  &__horisont-banner {
    text-align: center;
    margin: 40px 0;
    
    img {
      width: 100%;
    }
  }

  &__last-adv-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__last-adv-container-item {
    width: 314px;
    height: 279px;
    background: lightgrey;
    margin-bottom: 20px;

    &:not(:last-child) {
      margin-right: 20px;
    }
    
    &:nth-child(1) {
      background: url('../img/adv-circle-1.png') 50% 50% no-repeat;
    }

    &:nth-child(2) {
      background: url('../img/adv-circle-2.png') 50% 50% no-repeat;
    }

    &:nth-child(3) {
      background: url('../img/adv-circle-3.png') 50% 50% no-repeat;
    }
  }
}



.social {
  background: #EDF1F6;
  padding-bottom: 40px;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__element {
    margin-right: 20px;
    margin-top: 0;
    width: 314px;
    height: 400px;
    overflow: hidden;
    margin-bottom: 20px;
    
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}


@media (max-width: 900px) {

  header {
    display: none;
  }

  footer {
    display: none;
  }

  aside {
    display: none;
  }

  .live-tv__widget-container {
    width: 100%;
    padding: 0;
  }
  
}